
[Desktop Entry]
Encoding=UTF-8
Name=Dowiązanie do Read more
Type=Link
URL=https://github.com/milewise/node-soap#readme
Icon=text-html
Name[pl_PL]=node-soap
