h1= title

- var error, karma;

if error
  #error= error

if karma
  #karma(title='Bilans karmy zgromadzonej przez #{title}')= karma

form#find(action="/view/",method="GET")
  input(name="email",placeholder="Adres e-mail")
  input(type="submit",value="Zobacz",title="Zobacz stan karmy wybranego adresu email.")

#api
  h2 API REST
  .desc
   :markdown
    Stany kont sprawdzać można za pomocą interfejsu REST.

    Aby z niego skorzystać należy wykonać zapytanie w następującym formacie:

        GET http://[adres serwera]/json/[adres email]

    Odpowiedzią będzie stan sprawdzanego konta zakodowany jako `application/json`.